@if ($addcircleFloatingWindowService.toolName) {
  <floating-window
    [contentTemplate]="contentTemplate"
    [parentName]="$addcircleFloatingWindowService.toolName"
  />
}

<ng-template #contentTemplate>
  <div class="draw-circle-floating-window-content-wrapper">
    <div class="draw-circle-floating-window-private">
      @if ($addcircleFloatingWindowService.validPickedEnttity()?.id?.includes('-ellipse-')) {
        <div class="draw-circle-floating-window-private-info">
          <div class="draw-circle-floating-window-private-naming">
            <span>Наименование:</span>
            <input
              maxlength="70"
              placeholder="Введите наименование"
              matTooltip="Наименование"
              matTooltipShowDelay="1000"
              [value]="$addcircleFloatingWindowService.validPickedEnttity()?.name"
              (input)="
                $toolsService.changeEntityName(
                  $event.target.value,
                  $addcircleFloatingWindowService.validPickedEnttity()!.id,
                  this.$drawingService.drawCircleEntitiesList,
                  $event.target.value
                )
              "
            />
          </div>
        </div>
        <div class="draw-circle-floating-window-private-settings">
          <div class="draw-circle-floating-window-private-color">
            <span>Цвет:</span>
            <input
              type="color"
              matTooltip="Цвет"
              matTooltipShowDelay="1000"
              [value]="
                $addcircleFloatingWindowService
                  .validPickedEnttity()
                  ?.polyline?.material?.getValue()
                  .color.toCssHexString()
              "
              (change)="
                $addcircleFloatingWindowService.changeCircleEntitiesColor($event.target.value)
              "
            />
          </div>
        </div>
      }
    </div>
  </div>
</ng-template>
