@if ($circleAreaMeasurementsFloatingWindowService.toolName) {
  <floating-window
    [contentTemplate]="contentTemplate"
    [parentName]="$circleAreaMeasurementsFloatingWindowService.toolName"
  />
}

<ng-template #contentTemplate>
  <div class="circle-area-measurements-floating-window-content-wrapper">
    <div class="circle-area-measurements-floating-window-private">
      @if (
        $circleAreaMeasurementsFloatingWindowService.validPickedEnttity()?.id?.includes('-ellipse-')
      ) {
        <div class="circle-area-measurements-floating-window-private-info">
          <p>
            <span>
              Площадь:
              {{ $circleAreaMeasurementsFloatingWindowService.areaDescription() }}
            </span>
            <!-- {{ ' ' }} -->
            <!-- <span>
              {{ '(' }}радиус: {{ $circleAreaMeasurementsFloatingWindowService.radiusDescription()
              }}{{ ')' }}
            </span> -->
          </p>
          <p>
            <span>
              Радиус:
              {{ $circleAreaMeasurementsFloatingWindowService.radiusDescription() }}
            </span>
          </p>
          <p>
            <span>
              Длина окружности:
              {{ $circleAreaMeasurementsFloatingWindowService.perimeterDescription() }}
            </span>
          </p>
        </div>
        <!-- <div class="circle-area-measurements-floating-window-private-settings">
        </div> -->
      }
    </div>
  </div>
</ng-template>
