.auth-module-main-buttons-container {
  margin-top: 15px;
  // position: absolute;
  // z-index: 101;
  // left: 15px;
  // top: 50px;
  display: flex;
  user-select: none;
}

.user-main-button {
  min-width: var(--regular-btn-size);
  width: var(--regular-btn-size);
  height: var(--regular-btn-size);
  padding-inline: 0;
  border-radius: 6px;
  mat-icon {
    vertical-align: middle;
    font-size: 24px;
    width: 24px;
    height: 24px;
    margin: 0;
  }
}

.user-name-in-user-menu {
  text-align: center;
  span {
    font-size: calc(var(--mat-sys-label-large-size) * 1.3);
    font-weight: bold;
  }
}
