@if (inMenu) {
  @if ($userDataService.userName()) {
    <button (click)="this.$userDataService.getLogoutSubscription()" class="user-menu-import-button">
      <!-- exit_to_app, directions_walk, directions_run  -->
      <mat-icon>exit_to_app</mat-icon>
      <span style="text-decoration: underline">Выйти из профиля</span>
    </button>
  } @else {
    <button (click)="openAuthModal()" class="user-menu-import-button">
      <mat-icon style="transform: rotate(90deg)">open_in_browser</mat-icon>
      <span>Войти в профиль</span>
    </button>
  }
} @else {
  <div class="auth-module-main-buttons-container">
    @if ($userDataService.userName()) {
      <button
        class="user-main-button"
        matTooltip="Личный кабинет"
        matTooltipShowDelay="1000"
        matButton="tonal"
        [matMenuTriggerFor]="userMenu"
        [attr.aria-label]="'User menu'"
      >
        <!-- account_box, portrait, person, person_outline -->
        <mat-icon>account_box</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu" class="auth-module-user-menu">
        <button class="user-name-in-user-menu" mat-menu-item disabled style="opacity: 0.8">
          <span>{{ $userDataService.userName() }}</span>
        </button>
        <button mat-menu-item (click)="this.$userDataService.getLogoutSubscription()">
          <!-- exit_to_app, directions_walk, directions_run  -->
          <mat-icon>exit_to_app</mat-icon>
          <span style="text-decoration: underline">Выйти из профиля</span>
        </button>
      </mat-menu>
    } @else {
      <button
        class="user-main-button"
        matTooltip="Войти в профиль"
        matTooltipShowDelay="1000"
        matButton="tonal"
        (click)="openAuthModal()"
        [attr.aria-label]="'User menu'"
      >
        <mat-icon style="transform: rotate(90deg)">open_in_browser</mat-icon>
      </button>
    }
  </div>
}
