.measuring-tools-container {
  position: absolute;
  z-index: 101;
  left: 500px;
  bottom: 15px;
  width: max-content;
  height: 35px;
  // right: 5px;
  // top: 75px;
  // width: 35px;
  // height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-flow: row wrap;
  pointer-events: none;
}
.measuring-tools-container > * {
  pointer-events: auto;
}
.masuring-tool-button {
  padding: 0px;
  min-width: var(--regular-btn-size);
  width: var(--regular-btn-size);
  height: var(--regular-btn-size);
  border-radius: 16px;
  outline: 1px solid var(--theme-outline-color);
  mat-icon {
    padding: 0;
    margin: 0;
    width: 24px;
    height: 24px;
    svg {
      opacity: 0.8;
    }
  }
}
.gag {
  margin-right: var(--regular-btn-size);
  pointer-events: none;
}
