// @mixin mixin-example($font-family, $color) {
//     font-family: $font-family;
//     color: $color;
//     /* Также может расширяться статическими наборами стилей:
//     @extend %extend-example; */
// }
