.add-line-floating-window-content-wrapper {
  min-width: 18rem;
  overflow-x: hidden;
  overflow-y: auto;

  // .add-line-floating-window-common {
  // display: flex;
  // align-items: center;
  // overflow: hidden;
  //
  // span:first-child {
  // margin-right: 15px;
  // margin-right: 5px;
  // }
  // input {
  // margin-left: 5px;
  // flex-grow: 1;
  // }
  // }

  .add-line-floating-window-private-info-most-detailed-icon {
    width: 1em;
    height: 1em;
    font-size: 1em;
    line-height: unset;
    margin-left: 0.2em;
    cursor: help;
    user-select: none;
  }

  .add-line-floating-window-private {
    width: 100%;
    overflow: hidden;

    p {
      padding: 0px;
      margin: 0px;
    }

    .add-line-floating-window-private-info {
      width: 100%;
      .add-line-floating-window-private-naming {
        width: 100%;
        display: flex;
        align-items: center;

        span:first-child {
          margin-right: 5px;
        }
        input {
          flex-grow: 1;
        }
      }
    }

    .add-line-floating-window-private-settings {
      .add-line-floating-window-private-color {
        display: flex;
        align-items: center;
        span:first-child {
          margin-right: 5px;
        }
        input[type='color'] {
          border: none;
          padding: 0;
          background: none;
          cursor: pointer;
          margin: -2px;
        }
      }
    }
  }
}
