.add-polygon-floating-window-content-wrapper {
  min-width: 18rem;
  overflow-x: hidden;
  overflow-y: auto;

  .add-polygon-floating-window-private {
    width: 100%;
    overflow: hidden;

    p {
      padding: 0px;
      margin: 0px;
    }

    .add-polygon-floating-window-private-info {
      width: 100%;
      .add-polygon-floating-window-private-naming {
        width: 100%;
        display: flex;
        align-items: center;

        span:first-child {
          margin-right: 5px;
        }
        input {
          flex-grow: 1;
        }
      }
    }

    .add-polygon-floating-window-private-settings {
      .add-polygon-floating-window-private-color {
        display: flex;
        align-items: center;
        span:first-child {
          margin-right: 5px;
        }
      }
    }
  }
}
