.scene-mode-changer-button {
  position: absolute;
  z-index: 101;
  left: 287px;
  top: 15px;
  padding: 0px;
  min-width: var(--regular-btn-size);
  width: var(--regular-btn-size);
  height: var(--regular-btn-size);
  border-radius: 6px;
  outline: 1px solid var(--theme-outline-color);
    mat-icon {
    padding: 0;
    margin: 0;
    font-size: var(--regular-btn-svg-size);
    width: var(--regular-btn-svg-size);
    height: var(--regular-btn-svg-size);
    svg {
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }
  }
}
