.polygonal-area-measurements-floating-window-content-wrapper {
  min-width: 18rem;
  overflow-x: hidden;
  overflow-y: auto;

  .polygonal-area-measurements-floating-window-private {
    width: 100%;
    overflow: hidden;

    p {
      padding: 0px;
      margin: 0px;
    }

    .polygonal-area-measurements-floating-window-private-info {
      width: 100%;
    }

    // .polygonal-area-measurements-floating-window-private-settings {
    // }
  }
}
