<div class="user-menu-container">
  <!-- <button
    class="user-menu-button"
    [matTooltip]="$userDataService.userName() ? $userDataService.userName() : 'Не авторизован'"
    matTooltipShowDelay="1000"
    matButton="tonal"
    [matMenuTriggerFor]="userMenu"
    [attr.aria-label]="'User menu'"
  >
    @if ($userDataService.userName()) {
      <mat-icon>person</mat-icon>
    } @else {
      <mat-icon>person_outline</mat-icon>
    }
  </button> -->
  <!-- <mat-icon>account_box</mat-icon> -->

  <!-- @if ($userDataService.userName()) {
    <button
      class="user-menu-extended-fab-button"
      matFab
      extended
      [matMenuTriggerFor]="userMenu"
      [attr.aria-label]="'User menu'"
    >
      <mat-icon>person</mat-icon>
      {{ $userDataService.userName() }}
    </button>
  } @else {
    <button
      class="user-menu-extended-fab-button"
      matFab
      extended
      [matMenuTriggerFor]="userMenu"
      [attr.aria-label]="'User menu'"
    >
      <mat-icon>person_outline</mat-icon>
      не авторизован
    </button>
  } -->

  <!-- <button
    class="user-menu-extended-fab-button"
    matFab
    extended
    [matMenuTriggerFor]="userMenu"
    [attr.aria-label]="'User menu'"
  >
    <mat-icon>menu</mat-icon>
  </button> -->

  <button
    [matMenuTriggerFor]="userMenu"
    [attr.aria-label]="'User menu'"
    matTooltip="Меню"
    matTooltipShowDelay="1000"
    class="user-menu-mat-button"
    matButton="tonal"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu
    #userMenu="matMenu"
    class="user-menu"
    xPosition="after"
    yPosition="below"
    [overlapTrigger]="false"
  >
    <!-- @if ($userDataService.userName()) {
      <button mat-menu-item disabled class="user-name-in-user-menu">
        {{ $userDataService.userName() }}
      </button>
    } -->

    <!-- <button
      mat-menu-item
      class="user-menu-import-button-wrapper"
      (keydown.enter)="accountFeaturesRef.clickFromParentMenu()"
    >
      <account-features [inMenu]="true" />
    </button> -->

    <!-- <button mat-menu-item (click)="goToLanding()">
      <mat-icon>
        <svg width="24" height="24" viewBox="0 0 24 24">
          <path fill="currentColor" d="M10 20v-6h4v6h5v-8h3L12 3L2 12h3v8z" />
        </svg>
      </mat-icon>
      <span>О проекте</span>
    </button> -->

    <button mat-menu-item (click)="openContacts($event)">
      <mat-icon>
        <svg width="24" height="24" viewBox="0 0 24 24">
          <path fill="currentColor" d="M10 20v-6h4v6h5v-8h3L12 3L2 12h3v8z" />
        </svg>
      </mat-icon>
      <span>О проекте</span>
    </button>

    <button mat-menu-item [matMenuTriggerFor]="subMenuForThemeSettings">
      <mat-icon>brush</mat-icon>
      <span>Настройки темы</span>
    </button>
  </mat-menu>

  <mat-menu
    #subMenuForThemeSettings="matMenu"
    class="user-submenu-for-theme-settings"
    xPosition="after"
    yPosition="below"
    [overlapTrigger]="false"
    [attr.aria-label]="'Sub menu for theme settings'"
  >
    <button
      mat-menu-item
      class="user-menu-import-button-wrapper"
      (click)="lightDarkModeSwitcherRef.setColorScheme($event)"
      (keydown.enter)="lightDarkModeSwitcherRef.setColorScheme($event)"
      (keydown.space)="lightDarkModeSwitcherRef.setColorScheme($event)"
    >
      <light-dark-mode-switcher [inMenu]="true" />
    </button>

    <button
      mat-menu-item
      class="user-menu-import-button-wrapper"
      (click)="themeColorChangerRef.changeColorTheme($event)"
      (keydown.enter)="themeColorChangerRef.changeColorTheme($event)"
      (keydown.space)="themeColorChangerRef.changeColorTheme($event)"
    >
      <theme-color-changer [inMenu]="true" />
    </button>
  </mat-menu>
</div>
