#cesiumContainer,
#sightUiContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  overflow: hidden;
  min-width: 275px;
  min-height: 350px;
}

#cesiumContainer {
  // z-index: 1; // если оставить, окно ошибок цесиума будет под UI
  display: block;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#sightUiContainer {
  z-index: 100;
  display: block;
  pointer-events: none;
}

#sightUiContainer > * {
  width: max-content;
  height: max-content;
  pointer-events: auto;
}

.map-left-navbar-wrapper {
  position: absolute;
  z-index: 101;
  left: 15px;
  top: 15px;
  .to-landing-page-button {
    padding: 0px;
    min-width: var(--regular-btn-size);
    width: var(--regular-btn-size);
    height: var(--regular-btn-size);
    border-radius: 6px;
    outline: 1px solid var(--theme-outline-color);
    mat-icon {
      padding: 0;
      margin: 0;
      width: 24px;
      height: 24px;
      svg {
        opacity: 0.8;
      }
    }
  }
}

#crosshairForMobiles {
  position: absolute; /* or fixed for viewport center */
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: normal;
  color: red;
  -webkit-text-stroke: 1px #000;
  pointer-events: none; /* Allows clicks to pass through the crosshair to elements underneath */
}
