<div #mainSightContainer id="mainSightContainer">
  <div
    id="cesiumContainer"
    appCesiumDirective
    [style.cursor]="
      !$deviceService.isMobile &&
      ($measureService.handler() !== undefined || $measureService.measuresBlocker() === true)
        ? 'crosshair'
        : 'auto'
    "
  >
    @if ($deviceService.isMobile) {
      <div id="crosshairForMobiles">+</div>
    }
  </div>
  <div id="sightUiContainer">
    <mat-sidenav-container class="sight-main-sidenav-global" hasBackdrop="false">
      <mat-sidenav
        class="sight-main-sidenav"
        #sidenavRef
        mode="side"
        position="start"
        opened="false"
        disableClose="true"
      >
        <div class="sight-main-sidenav-left-content">
          <!-- <div class="sight-main-sidenav-logo">
            <div class="sight-main-sidenav-logo-text-container">
              Интерактивная карта<br />"Sight"
            </div>
            <div class="sight-main-sidenav-logo-image-container">
              <img [style.opacity]="isDarkModeChecked() ? '1' : '0.7'" />
            </div>
          </div> -->
          @defer (when $viewerService.viewerHasLoaded() === true) {
            <!-- <div class="sight-main-sidenav-geo-search-wrapprer">
              <geo-search />
              Поиск [в разработке...]
            </div> -->
            <div class="sight-main-sidenav-tabs-conteiner">
              <mat-tab-group
                headerPosition="above"
                preserveContent
                [selectedIndex]="selectedTab()"
                (selectedIndexChange)="selectedTab.set($event)"
              >
                @for (tab of tabs(); track tab) {
                  <mat-tab [label]="tab" labelClass="non-user-select">
                    <!-- @defer (when $viewerService.firstBaseLayerRenderFinished() === true) { -->
                    <!-- <user-projects /> -->
                    <p style="text-align: center; margin-top: 50px">[в разработке...]</p>
                    <!-- } @placeholder {
                        <p style="text-align: center">Loading...</p>
                      } @error {
                        <p style="text-align: center">Error!</p>
                      } -->
                  </mat-tab>
                }
              </mat-tab-group>
            </div>
          } @placeholder {
            <p style="text-align: center">Loading...</p>
          } @error {
            <p style="text-align: center">Error!</p>
          }
        </div>
      </mat-sidenav>
      <mat-sidenav-content class="sight-main-ui-container">
        <button
          class="sight-main-sidenav-toggle-button"
          type="button"
          matButton="tonal"
          [title]="sidenavRef.opened ? 'Свернуть' : 'Развернуть'"
          (click)="sidenavRef.toggle()"
        >
          <mat-icon>{{ sidenavRef.opened ? 'chevron_left' : 'chevron_right' }}</mat-icon>
        </button>

        @defer (when $viewerService.viewerHasLoaded() === true) {
          @defer (when $mouseCoordsService.underMouseEntityHasLoaded() === true) {
            <mouse-coords-info />
          }
          @defer (when $measureService.measureServiceHasStarted() === true) {
            <measuring-tools />
          }
          @defer (on idle) {
            <camera-height-tool />
            <scene-mode-changer />
          }
        }
        <theme-changer />
        <znemz-navigation-mixin />

        <nav class="map-left-navbar-wrapper">
          <button
            title="Контакты"
            class="to-landing-page-button"
            matButton="tonal"
            (click)="openContacts($event)"
          >
            <!-- routerLink="/landing" -->
            <mat-icon>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M10 20v-6h4v6h5v-8h3L12 3L2 12h3v8z" />
              </svg>
            </mat-icon>
          </button>
          <!-- <account-features /> -->
          <!-- <button
            title="Test"
            class="to-landing-page-button"
            style="top: 50px"
            matButton="tonal"
            (click)="benchmarkTest()"
            >
            Test
          </button> -->
        </nav>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
