@if ($linearMeasurementsFloatingWindowService.toolName) {
  <floating-window
    [contentTemplate]="contentTemplate"
    [parentName]="$linearMeasurementsFloatingWindowService.toolName"
  />
}

<ng-template #contentTemplate>
  <div class="linear-measurements-floating-window-content-wrapper">
    <!-- <div class="linear-measurements-floating-window-common">
      <span>
        <mat-checkbox
          [disabled]="$linearMeasurementsService.waitingForCalculations() === true"
          [(ngModel)]="$linearMeasurementsService.mostDetailed"
          (change)="$linearMeasurementsService.checkboxHendler($event)"
          matTooltip="Детальный расчет с учетом рельефа"
          matTooltipShowDelay="1000"
        >
          учитывать рельеф,
        </mat-checkbox>
      </span>
      <span
        [class]="
          !$linearMeasurementsService.mostDetailed() ? 'disabled-text-color' : 'normal-text-color'
        "
        >{{ '(' }}шаг, м:
      </span>
      <input
        id="linearMeasurementsFloatingWindowCommonInput"
        type="number"
        min="1"
        max="40000000"
        matTooltip="Точность измерений (шаг), м"
        matTooltipShowDelay="1000"
        [disabled]="
          !$linearMeasurementsService.mostDetailed() ||
          $linearMeasurementsService.waitingForCalculations() === true
        "
        [(ngModel)]="$linearMeasurementsService.distanceSegmentLengthM"
        (change)="$linearMeasurementsService.segmentLengthInputHendler($event)"
      /><span
        [style]="
          !$linearMeasurementsService.mostDetailed()
            ? 'color: light-dark(rgb(84, 84, 84), rgb(170, 170, 170))'
            : 'color: var(--mat-sys-on-background)'
        "
        >{{ ')' }}
      </span>
    </div>
    <div class="linear-measurements-floating-window-private">
      @if ($linearMeasurementsService.validPickedEnttity()?.id?.includes('-line-')) {
        <div class="linear-measurements-floating-window-private-info">
          <p>
            Длина без учета рельефа:
            {{ $linearMeasurementsService.distanceWithoutTerrainDescription() }}
          </p>
          <p>
            Длина c учетом рельефа:
            @if ($linearMeasurementsService.mostDetailed()) {
              <span>
                {{
                  $linearMeasurementsService.waitingForCalculations() === true
                    ? '...ожидание результата'
                    : $linearMeasurementsService.distanceWithTerrainDescription() || '[error]'
                }}
              </span>
            } @else {
              <span style="font-style: italic">
                {{ 'не запрошено' }}
              </span>
            }
          </p>
          <p>
            Наименование рельефа:
            @if ($linearMeasurementsService.mostDetailed()) {
              <span>
                {{ $linearMeasurementsService.nowTerrainName() || 'не определено' }}
              </span>
            } @else {
              <span style="font-style: italic">
                {{ 'не запрошено' }}
              </span>
            }
          </p>
        </div>
      }
    </div> -->
    <div class="linear-measurements-floating-window-private">
      @if ($linearMeasurementsService.validPickedEnttity()?.id?.includes('-line-')) {
        <div class="linear-measurements-floating-window-private-info">
          <p>
            Длина:
            {{ $linearMeasurementsService.distanceWithoutTerrainDescription() }}
          </p>
        </div>
      }
    </div>
  </div>
</ng-template>
